# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environnements
.venv/
venv/
.env
.env.*
.python-version

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/

# Logs / données locales
logs/
data/
.tmp/
*.log

# Streamlit
# ajoute ici le fichier secrets.toml présent dans .streamlit
.streamlit/secrets.toml

# Not used doc
simple_scraper.py
advanced_usage.py
test.ipynb